.git/objects/dc/46a20bf33d42849ab402e4c43607825886181f
bfmatlab/bioformats_package.jar
Elizabeth/H2A_GSC_Prometaphase_010.czi
Elizabeth/H2A_GSC_Prometaphase_011.czi
Elizabeth/H2A_GSC_Prometaphase_014.czi
Elizabeth/H2A_GSC_Prometaphase_015.czi
Elizabeth/H2A_GSC_Prometaphase_016.czi
Elizabeth/H3_GSC_Prometaphase_002.czi
Elizabeth/H3_GSC_Prometaphase_010_011.czi
Elizabeth/H3_GSC_Prophase_001.czi
Elizabeth/H3_GSC_Prophase_006.czi
Elizabeth/H3_GSC_Prophase_009.czi
